
#PopupOverviewDataTable_length
{
    margin-bottom: 30px;
}

.paginate_button .current
{
    background: #04316d !important;
}

a.paginate_button,
a.paginate_active {
    display: inline-block;
    background-color: red;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
}