
.add-btn
{
    background-color: #04316D !important;
    color: white;
}

.right-bar
{
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    padding: 20px;
    height: 100%;
}

.sidebar
{
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.sidebar a
{
    display: block;
    padding: 10px;
    color: #04316D;
    text-decoration: none;
    text-align: center;
}

.sidebar a.active
{
    background-color: #04316D;
    color: white;
    border-radius: 20px;
}

.sidebar a:hover
{
    background-color: #002855;
    color: white;
    border-radius: 20px;
}
/*
.main-content .btn-group .btn
{
    padding: 0.5rem;
    border: 1px solid black;
    color: black;
    border-radius: 0.375rem;
}*/
/*
.main-content .btn-group .btn.active
{
    background-color: #04316D;
    color: white;
}*/

.upload-section
{
    border: 1px dashed #ced4da;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
}

.upload-section i
{
    font-size: 24px;
    color: #ced4da;
}

.upload-section.dragging
{
    background-color: #e9ecef;
    border-color: #04316D;
}

.next-btn
{
    background-color: #04316D !important;
    color: white;
    border-radius: 10px;
    padding: 0.75rem 2rem;
}

.popup 
{
    color: var(--navy-blue);
}

.add-btn
{
    background-color: #04316D !important;
    color: white;
    border-radius: 10px;
    padding: 0.75rem 2rem;
}

.form-label
{
    display: block;
    margin-bottom: 0.5rem;
}

.form-control-plaintext
{
    display: inline-block;
    width: auto;
}

.form-group
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group .form-label
{
    width: 25%;
    text-align: right;
    padding-right: 1rem;
}

.form-label-left .btn-group
{
    flex: 1;
}
.ticker-wizard-tabs
{
    min-height: 450px;
}
/*
.btn-group .btn
{
    padding: 0.5rem;
    border: 1px solid black;
    color: black;
    border-radius: 0.375rem;
    flex: 1;
}

.btn-group .btn.active
{
    background-color: #04316D;
    color: white;
}*/

/*#region Module Filters*/
.overview-filter-btn-group
{
    height: 30px !important;
}

.module-filter-btn-group
{
    width: 70px !important;
    font-size: 14px !important;
    padding: 0 !important;
    border-color: #04316d !important;
}

.module-filter-btn-group-active
{
    width: 70px !important;
    font-size: 14px !important;
    padding: 0 !important;
    color: white !important;
    background: #04316d !important;
}

.btn-group-active
{
    color: white !important;
    background: #04316d !important;
}

.overview-filter-btn-group button:hover
{
    background: #04316d !important;
    border-color: #04316d !important;
    color: white !important;
}

.overview-filter-title
{
    font-weight: bold;
    width: fit-content !important;
    margin-bottom: 0 !important;
    align-content: center;
}

.overview-filter-title2
{
    width: fit-content !important;
    margin-bottom: 0 !important;
    align-content: center;
}

.overview-users-select
{
    height: 30px !important;
    font-size: 14px !important;
    padding: 2px 40px !important;
}

.overview-dates-input
{
    width: 120px !important;
    font-size: 14px !important;
    height: 30px;
}

.overview-filters-card
{
    min-width: 310px;
}

#FilterModuleTitle
{
    font-size: 22px !important;
}

.overview-filters-card .card-body
{
    padding-bottom: 0 !important;
}

#ModuleOverviewCard
{
    min-height: 500px;
}
/*#endregion*/

/*#region Module Overviews*/
.overview-table-caption
{
    font-size: 20px;
}

.module-dt-body-text
{
    max-width: 380px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.survey-q-dt-body-text
{
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.module-dt-header-text
{
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

#PopupOverviewDataTable
{
    border: 0px solid silver;
}

#SurveyQuesitonsOverviewDataTable
{
    border-top: 1px solid silver;
}

#TypeStagingLiveBtns
{
    margin-left: 10px;
}

#ViewFilterBtns
{
    margin-left: 9px;
}

#GanttChartLegend
{
    overflow: hidden !important;
}

#GanttChartLegend
{
    border: 1px solid grey;
    padding: 3px;
}

.gantt-color-block
{
    padding: 1px;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}

.gantt-color-block-text
{
    color: gray;
    font-style: italic;
    font-size: 12px;
    margin-top: -1px;
    margin-left: 2px;
}

.gantt-legend-separator
{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -4px;
}

.gantt-tooltip-container
{
    padding: 5px 10px;
    font-size: 10px;
}

.gantt-tooltip-value
{
    font-weight: bold;
    color: #04316d;
}

.tabulator
{
    font-size: 12px !important;
}
/*#endregion ModuleOverviews*/

/*#region Module Details*/
.html-text-editor
{
    background: #c5c8cd;
    border: 1px solid silver;
    padding: 8px 8px;
}
#PopupDetailsTitlePreview, #SurveyDetailsTitlePreview
{
    height: fit-content;
    background: #c5c8cd;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 8px 8px;
}

#PopupDetailsBodyPreview, #SurveyDetailsBodyPreview
{
    height: 200px;
    background: #c5c8cd;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 8px 8px;
    overflow: auto;
}

#SurveyDetailsBodyPreview
{
    height: 140px;
}

.popup-icon
{
    width: 35px;
    height: 35px;
}

.popup-info-headings
{
    float: right;
}

.popup-info-attachment-icon
{
    color: #04316d;
    font-size: 20px;
    display: contents;
}

.popup-info-attachment-text
{
    color: #04316d;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 0;
    cursor: pointer;
}

#PopupBodyPreview, #PopupBodyPreviewFeedback
{
    width: 314px;
    height: 188px;
}

#PopupBodyPreviewTitle
{
    height: 58px;
    padding: 0;
    margin-left: 0;
    width: 314px;
}

#PopupBodyPreviewTitleIcon
{
    width: 55px;
}
.popup-icon-img
{
    width: 48px !important;
    height: 48px !important;
}
#PopupBodyPreviewTitleIcon img
{
    margin: 3px;
    width: 48px;
    height: 48px;
}

.poup-body-preview-title-text
{
    padding: 10px;
    height: 40px;
    width: 100%;
}

#PopupBodyPreviewTitleDismiss
{
    width: 20px;
}

#PopupBodyPreviewTitleDismiss img
{
    height: 10px;
    width: 10px;
    margin: 3px 7px 3px 3px;
}

.popup-body-preview-text-body
{
    height: 88px;
    padding: 0 5px 0 0;
    margin: 5px 0 0 16px;
    overflow: auto;
}

#PopupBodyPreviewTextBodyFooter
{
    height: 37px;
}

#PopupBodyPreviewText
{
    width: 314px;
    margin-left: 0;
    padding: 0;
    display: inline-block;
}

#PopupBodyPreviewTextBodyFooter .btn
{
    height: fit-content;
    width: 90px;
    font-size: 10px;
    margin: 5px 0 0 14px;
    border: 1px solid navy;
    padding: 0;
    background: white;
    cursor: default;
}

#PopupFeedbackContents
{
    width: 314px;
    height: 188px;
    margin-top: -190px;
    position: absolute;
}

.popup-feedback-icons
{
    width: 45px;
    height: 60px;
}

#PopupFeedbackText
{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    font-size: 12px;
    cursor: default;
    background: white;
}

#PopupFeedbackBtn
{
    background: black;
    color: white;
    border-radius: 0;
    height: fit-content;
    padding: 2px 3px;
    font-size: 12px;
    width: 120px;
    margin-left: auto;
    cursor: default;
}

#PopupDetailsContainer
{
    padding: 1.5rem;
}

#RSSCategoryDetailsContainer
{
    margin-left: 5%;
}

.module-details-targeting-btns
{
    width: 150px;
}

#TickerDetailsContainer
{
    width: 100%;
}
#ContentLibraryCategoryDetailsContainer
{
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}
#LockedDesktopDetailsContainer
{

}
/* Style the Image Used to Trigger the Modal */
#myImg
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover
{
    opacity: 0.7;
}

.modal
{
    display: none; 
    position: fixed;
    z-index: 4000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (Image) */
.modal-content
{
    margin: auto;
    display: block;
    width: 70%;
    max-height: 80vh;
    /*max-width: 700px;*/
}

#ImagePreviewer
{
    object-fit: contain;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption
{
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom
{
    from
    {
        transform: scale(0)
    }

    to
    {
        transform: scale(1)
    }
}
.close
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#SurveyPreviewSkin
{
    width: 485px;
    height: 600px;
    padding: 50px 40px 50px 40px;
}
#SurveyQuestionPreview
{
    background: white;
    margin-top: 100px;
}
.survey-preview-btns, survey-preview-btns:hover
{
    width:85px; 
    height:20px; 
    border-radius:inherit; 
    background:whitesmoke !important;
    color:black !important;
    padding:0;
    font-size:12px;
    cursor: default !important;
}
#SurveyPreviewDetails
{
    width: 100%;
    margin-left:180px;
}
/*#endregion ModuleDetails*/

/*#region Module Wizard*/
.module-wizard-link-nav 
{
    border-right: 1px solid #dee2e6;
}
#ModuleLeftNavLinksContainer
{
    padding: 0;
    border-radius: 8px;
}
#ModuleLeftNavLinkCol
{
    max-width: 175px;
}
#ModuleWizardMain
{
   flex-grow: 1;
   min-width: 500px;
}
#ModulePreviewSection
{
    max-width: 320px;
    border-left: 1px solid #dee2e6;
    height: 100%;
    padding-left:5px;
}
.module-left-nav-link
{
    display: block;
    padding: 5px !important;
    color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    margin-top: 8px;
 }

.module-left-nav-link.active, .module-left-nav-link.active:hover
{
    background-color: var(--dark-blue);
    color: var(--text-color-light) !important;
    border-radius: 20px;
}
.module-left-nav-link:hover
{
    background-color: white;
    color: var(--theme-blue);
    cursor: default;
    border-radius: 20px;
}
.link-type-btn
{
    width: 80px !important;
    font-size: 14px !important;
}
#SurveyType
{
    border: 1px solid silver;
    border-radius: 5px;
    padding:10px 20px !important;
    width:396px;
    background: var(--light-blue);
}
.module-link-type
{
    font-size: 12px;
    height: 20px;
    margin-top:5px;
    width: 60px;
}
#ModuleLinkTypeContainer
{
    padding: 0;
    font-size: 13px;
}

.module-wizard-nav-btns
{
    background-color: #04316D !important;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    width: 80px;
}
.module-wizard-nav-btns:hover
{
    background-color: #04316D !important;
    color: white;
    opacity: 0.7;
}
.module-new-submit-btn
{
    background-color: #28a745 !important;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    width: 80px;
}
.module-new-submit-btn:hover
{
    opacity: 0.7;
}
.fix-content-bottom
{
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
}
#LinkTypeUrlInput
{
    width:300px;
}
#LinkTypeUrlInput:focus-visible
{
    border: 2px solid var(--theme-blue-clr) !important;
}
#SelectSurveyLinkType1, #SelectSurveyLinkType2
{
    width: 120px;
    font-size:12px;
    padding:0 3px;
}
#SelectSurveyLinkTypeText 
{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-preview-btn
{
    border: none;
    width: 60px;
    font-size: 12px !important;
    border-radius: 20px;
}
.popup-icon-radio
{
    margin-top:16px;
}
.popup-icon-container
{
    max-width: 80px !important;
}
.popup-display-settings-titles
{
    margin-left: 80px;
    width:140px;
    align-content:center;
}
.popup-display-settings-info
{
    width: 540px;
    border: 1px solid var(--theme-blue-clr);
    padding: 5px 10px;
}
.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 5px;
}

.grid-item
{
    background-color: #e3e3e3;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
    border: 2px solid transparent;
}

.grid-item:hover
{
    background-color: #d0d0d0;
}

.grid-item.active
{
    background-color: #4285F4;
    color: white;
    border: 2px solid #2c6ed5;
}

.grid-item:active
{
    transform: scale(0.95);
}
.popup-pos-container
{
    margin-left: 45px !important;
    width: fit-content !important;
    border: none;
}
.module-nav-link-dot
{
    font-size:40px;
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;
}
.visited-nav-link
{
    color: var(--theme-blue-clr) !important;
    font-weight: bold;
}

.visited-nav-link:hover
{
    background-color: var(--dark-blue) !important;
    color: var(--text-color-light) !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    font-weight: normal;
}

/* Container for the ticker */
.ticker-container
{
    width: 100%; /* Full width */
    height: 100px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden; /* Hide overflowing text */
    background-color: #f0f0f0;
    padding-bottom: 40px; /* Leave space for the ticker */
}

/* The ticker area at the bottom */
.ticker-tape
{
    width: 100%;
    position: absolute;
    bottom: 0; /* Align at the bottom */
    background-color: #000;
    color: #fff;
    font-size: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 50px;
}

/* Left icon that text goes under */
.ticker-left-icon
{
    margin-right: 20px;
    position: relative;
    z-index: 10; /* Higher z-index to ensure text goes underneath */
    margin-top: -11px;
    height: 43px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background:black;
}

.ticker-right-icons
{
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 0;
    margin-top: -11px;
    height: 43px;
    padding-top: 10px;
    background: black;
    padding-right:10px;
}

.ticker-right-icon
{
    margin-left: 5px;
    cursor: pointer;
}

/* Adjusted ticker content */
.ticker-content
{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1; /* Fills available space */
    padding-left: 10px; /* Adds spacing after the right icons */
    padding-right: 10px; /* Adds spacing before the left icon */
    position: relative;
    z-index: 1; /* Lower z-index to ensure it scrolls under icons */
}

.ticker-text
{
    display: inline-block;
    padding-right: 50px; /* Space between repeated text */
}

/* Animation for continuous scrolling */
@keyframes ticker
{
    0%
    {
        transform: translateX(100%);
    }

    100%
    {
        transform: translateX(-100%);
    }
}

/* Apply animation to both instances of text */
.ticker-content
{
    animation: ticker 10s linear infinite;
}
/*#endregion*/


/*#region Modules Scaling*/
@media screen and (max-width:1950px)
{
    .module-dt-body-text
    {
        max-width: 490px;
    }
}

@media screen and (max-width:1850px)
{
    .module-dt-body-text
    {
        max-width: 380px;
    }
}

@media screen and (max-width:1800px)
{
    .module-dt-body-text
    {
        max-width: 380px;
    }
}

@media screen and (max-width:1700px)
{
    .module-dt-body-text
    {
        max-width: 170px;
    }

    #TickerDetailsContainer
    {
        width: 100%;
    }
    #SurveyPreviewDetails
    {
        margin-left: 50px;
    }
}
@media screen and (max-width:1600px)
{
    .popup-display-settings-info
    {
        width: 400px;
    }
}
@media screen and (max-width:1500px)
{
    .popup-display-settings-titles
    {
        margin-left: 45px;
    }
}
@media screen and (max-width:1450px)
{
    .module-dt-body-text
    {
        max-width: 200px;
    }
    #SurveyPreviewDetails
    {
        margin-left: 0;
    }
    .popup-display-settings-titles
    {
        margin-left: 20px;
    }
}
@media screen and (max-width:1400px)
{
    .popup-display-settings-info
    {
        width: 450px;
        margin-left: 30px;
    }
}
@media screen and (max-width:1370px)
{
    .overview-filter-btn-group
    {
        margin-left: -20px;
    }
    #UploadFileContainer, #SurveyType, #LinkTypeUrl
    {
        margin-left: -20px;
    }
}

@media screen and (max-width:1285px)
{
    #DatesFilterTitle
    {
        margin-left: 40px;
    }

    #DatesFilterContainer
    {
        margin-top: 20px;
    }
    #SurveyPreviewAndDetailsContainer
    {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:991px)
{
    #ModuleLinkTypeContainer
    {
        padding-left: 60px;
    }
    #UploadFileContainer, #ModuleContentUploadFileName, #LinkTypeEmail, #LinkTypeUrl, #SurveyType
    {
        margin-left: 40px;
        width: 400px !important;
    }
}
@media screen and (max-width:767px)
{
    #DatesFilterContainer, #UsersFilterContainer
    {
        width: 100% !important;
    }

    #DatesFilterTitle
    {
        margin-left: 0;
    }

    #DatesFilterContainer
    {
        margin-top: 0px;
    }

    #StatusFilterTitle
    {
        margin-right: 10px;
    }

    #UsersFilterTitle
    {
        margin-right: 14px;
    }

    #DatesFilterTitle
    {
        margin-right: 7px;
    }

    .module-overview-filters
    {
        margin-left: auto;
        margin-right: auto;
        width: 430px !important;
    }

    #FilterModuleTitle
    {
        font-size: 16px !important;
    }

    .overview-filter-title
    {
        font-size: 12px !important;
    }

    .popup-info-headings
    {
        float: none;
    }
}
@media only screen and (max-width: 700px)
{
    .modal-content
    {
        width: 100%;
    }
}
@media screen and (max-width:530px)
{
    #StatusFilterTitle
    {
        text-align: center !important;
        width: 100% !important;
    }

    .overview-filter-btn-group
    {
        margin-left: auto;
        margin-right: auto;
    }

    #UsersFilterTitle
    {
        margin-left: auto;
    }

    .overview-users-select
    {
        margin-right: auto;
    }
    #ContentLibraryCategoryDetailsContainer
    {
        width: 100% !important;
    }
}

@media screen and (max-width:510px)
{
    .overview-dates-input
    {
        width: 120px !important;
    }

    #PopupDetailsContainer
    {
        padding: 10px;
    }
}

@media screen and (max-width:410px)
{
    .overview-filter-btn-group
    {
        margin-left: -10px;
    }

    #DatesFilterTitle
    {
        margin-left: -10px;
        margin-right: 0;
    }
}

@media screen and (max-width:390px)
{
    .overview-dates-input
    {
        width: 100px !important;
        font-size: 11px !important;
        height: 25px;
    }

    .overview-users-select
    {
        width: 100px !important;
        font-size: 11px !important;
        height: 25px !important;
        padding-left: 15px !important;
    }

    .overview-filter-btn-group
    {
        height: 25px !important;
        margin-left: auto
    }

    .module-filter-btn-group, .module-filter-btn-group-active
    {
        width: 60px !important;
        font-size: 12px !important;
    }

    #DatesFilterTitle
    {
        margin-left: 15px;
    }

    #PopupDetailsContainer
    {
        padding: 0;
    }
}

@media screen and (max-width:350px)
{
    #DatesFilterTitle
    {
        margin-left: -5px;
    }

    .overview-filter-btn-group
    {
        margin-left: -5px;
    }
}
/*#endregion*/
