
.pagination-section
{
    text-align: center;
    margin-top: 20px;
}

.pagination-section .page-link
{
    background-color: #04316D !;
    color: white;
    border-radius: 0.5rem;
}

.next-btn
{
    background-color: #04316D !important;
    color: white;
    border-radius: 10px;
    padding: 0.75rem 2rem;
}

.add-btn
{
    background-color: #04316D !important;
    color: white;
    border-radius: 10px;
    padding: 0.75rem 2rem;
}

.form-label
{
    display: block;
    margin-bottom: 0.5rem;
}

.form-control-plaintext
{
    display: inline-block;
    width: auto;
}

.form-group
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group .form-label
{
    width: 25%;
    text-align: right;
    padding-right: 1rem;
}

.form-label-left .btn-group
{
    flex: 1;
}

.btn-group .btn
{
    padding: 0.5rem;
    border: 1px solid black;
    color: black;
    border-radius: 0.375rem;
    flex: 1;
}

.btn-group .btn.active
{
    background-color: #04316D;
    color: white;
}

.overview-filter-btn-group
{
    height: 30px !important;
}
.module-filter-btn-group
{
    width: 70px !important;
    font-size: 14px !important;
    padding: 0 !important;
    border-color: #04316d !important;
}
.module-filter-btn-group-active
{
    width: 70px !important;
    font-size: 14px !important;
    padding: 0 !important;
    color:white !important;
    background: #04316d !important;
}
.btn-group-active
{
    color:white !important;
    background: #04316d !important;
}
.overview-filter-btn-group button:hover
{
    background: #04316d !important;
    border-color:  #04316d !important;
    color:white !important;
}
.overview-filter-title
{
    font-weight: bold;
    width: fit-content !important;
    margin-bottom: 0 !important;
    align-content: center;
}
.overview-users-select
{
    height: 30px !important;
    font-size: 14px !important;
    padding: 2px 40px !important;
}
.overview-dates-input
{
    width: 120px !important;
    font-size: 14px !important;
    height: 30px;
}
.overview-filters-card
{
    min-width: 310px;
}
#FilterModuleTitle
{
    font-size: 22px !important;
}
.overview-filters-card .card-body
{
    padding-bottom:0 !important;
}
#ModuleOverviewCard
{
    min-height: 500px;
}
.overview-table-caption
{
    font-size: 20px;
    font-weight: bold;
}
.popup-dt-body-text
{
    max-width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom:0;
}
.popup-dt-header-text
{
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom:0;
}
#PopupOverviewDataTable
{
    border: 0px solid silver;
}


@media screen and (max-width:1950px)
{
    .popup-dt-body-text
    {
        max-width:410px;
    }
}

@media screen and (max-width:1850px)
{
    .popup-dt-body-text
    {
        max-width:320px;
    }
}

@media screen and (max-width:1800px)
{
    .popup-dt-body-text
    {
        max-width:270px;
    }
}

@media screen and (max-width:1700px)
{
    .popup-dt-body-text
    {
        max-width:170px;
    }
}

@media screen and (max-width:1450px)
{
    .popup-dt-body-text
    {
        max-width:200px;
    }
}

@media screen and (max-width:1370px)
{
    .overview-filter-btn-group
    {
        margin-left: -20px;
    }
}

@media screen and (max-width:1285px)
{
    #DatesFilterTitle
    {
        margin-left:40px;
    }
    #DatesFilterContainer
    {
        margin-top: 20px;
    }
}

@media screen and (max-width:767px)
{
    #DatesFilterContainer, #UsersFilterContainer
    {
        width: 100% !important;
    }
    #DatesFilterTitle
    {
        margin-left:0;
    }
    #DatesFilterContainer
    {
        margin-top: 0px;
    }
    #StatusFilterTitle
    {
        margin-right: 10px;
    }
    #UsersFilterTitle
    {
        margin-right: 14px;
    }
    #DatesFilterTitle
    {
        margin-right: 7px;
    }
    .module-overview-filters
    {
        margin-left:auto;
        margin-right: auto;
        width: 430px !important;
    }
    #FilterModuleTitle
    {
        font-size: 16px !important;
    }
    .overview-filter-title
    {
        font-size: 12px !important;
    }
}
@media screen and (max-width:530px)
{
    #StatusFilterTitle
    {
        text-align: center !important;
        width:100% !important;
    }
    .overview-filter-btn-group
    {
        margin-left: auto;
        margin-right:auto;
    }
    #UsersFilterTitle
    {
        margin-left:auto;
    }
    .overview-users-select
    {
        margin-right: auto;
    }
}
@media screen and (max-width:510px)
{
    .overview-dates-input
    {
        width: 120px !important;
    }
}
@media screen and (max-width:410px)
{
    .overview-filter-btn-group
    {
        margin-left: -10px;
    }
    #DatesFilterTitle
    {
        margin-left: -10px;
        margin-right: 0;
    }
}
@media screen and (max-width:390px)
{
    .overview-dates-input
    {
        width: 100px !important;
        font-size: 11px !important;
        height: 25px;
    }
    .overview-users-select
    {
        width: 100px !important;
        font-size: 11px !important;
        height: 25px !important;
        padding-left: 15px !important;
    }
    .overview-filter-btn-group
    {
        height: 25px !important;
        margin-left:auto
    }
    .module-filter-btn-group, .module-filter-btn-group-active
    {
        width: 60px !important;
        font-size: 12px !important;
    }
    #DatesFilterTitle
    {
        margin-left: 15px;
    }
}
@media screen and (max-width:350px)
{
    #DatesFilterTitle
    {
        margin-left: -5px;
    }
    .overview-filter-btn-group
    {
        margin-left: -5px;
    }
}

/* Main content popup style */
.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
  
    border-radius: 8px;
}

    .sidebar a {
        display: block;
        padding: 10px;
        color: #04316D;
        text-decoration: none;
        text-align: center;
    }

        .sidebar a.active {
            background-color: #04316D;
            color: white;
            border-radius: 20px;
        }

        .sidebar a:hover {
            background-color: #002855;
            color: white;
            border-radius: 20px;
        }

/* Preview Box Styling */
.preview-box {
  
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin:auto;
}

.skin-filename {
    font-weight: bold;
    margin-bottom: 15px; 
}

.preview-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers the preview content */
    text-align: center;
}

/* Ensuring that the preview image content remains centered */
.preview-box img, .preview-box .title, .preview-box .body {
    display: block;
    margin: 0 auto; /* Ensures horizontal centering for images and divs */
    width: 100%;
}

@media screen and (max-width: 768px) {
    .sidebar, .preview-box {
        text-align: center;
    }

        .preview-box img {
            max-width: 100%;
        }
}

.pagination-section {

    
    align-items: center;
}

@media (max-width: 768px) {
    .pagination-section {
        flex-direction: column;
    }

    .sidebar {
        border-right: none;
        border-bottom: 1px solid #dee2e6;
    }
}


.upload-section {
    border: 1px dashed #ced4da;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    background-color: #f8f9fa;
}

    .upload-section i {
        font-size: 24px;
        color: #ced4da;
    }

    .upload-section.dragging {
        background-color: #e9ecef;
        border-color: #04316D;
    }

.popup {
    color: navy;
}
.col-md-3 {
    border-left: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.col-md-2 {
    border-right: 1px solid #dee2e6;
    background-color: #f8f9fa;
}





/*wyswig*/

#wysiwyg {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.title-section, .toggle-preview {
    padding: 10px;
    display: flex;

    align-items: center;
}

.toggle-preview {
    padding: 10px;
    display: flex;
    
    align-items: center;
}

.btns {
    padding: 0.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;
}

.category {
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-right: 1px solid #EFEFEF;
}

button, select, input {
    background-color: white;
    border: none;
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

    input[type="color"] {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

#editor {
    padding: 20px;
    background-color: #71797E;
    outline: none;
    border: none;
    resize: vertical;
    overflow: auto;
    height: 150px;
}
/*#C5C8CD.*/
#titleInput {
    padding: 20px;
    background-color: #71797E;
    outline: none;
    border: none;
    resize: vertical;
    overflow: auto;
}

#preview {
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    
}

@media (max-width: 768px) {
    #wysiwyg {
        width: 100%;
    }
}
