
/*root colors */
:root 
{
    --theme-blue-clr: #04316d !important;
    --dark-blue: #04316D;
    --navy-blue: #002855; 
    --light-blue: #f8f9fa; 
    --text-color-light: white;
    --border-radius-small: 0.5rem;
    --border-radius-large: 10px;
}


/*#LeftNavMenu ::-webkit-scrollbar 
{
    display: none;
}*/

.hidden
{
    display: none !important;
}
.text-upper
{
    text-transform: uppercase !important;
}
/**========================= Alignments =======================*/
.fl-right
{
    float:right !important;
}
.w-fit-content
{
    width: fit-content !important;
}
/**========================= Breadcrumbs / Navigation =======================*/

.breadcrumb-item-nav 
{
    color: blue !important;
    cursor: pointer;
}
.breadcrumb-item
{
    color: black;
}
.breadcrumb-item + .breadcrumb-item::before
{
    content: "" !important;
}
.breadcrumb-title
{
    font-size: 24px !important;
    margin-bottom: 0;
}
.breadcrumb-nav-body
{
    font-size: 13px;
    margin-bottom:0;
}

/**========================= Controls =======================*/

.custom-btn
{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
.custom-btn:hover
{
    opacity: 0.8;
}
.custom-btn-default
{
    background-color: #04316d !important;
    border: none;
    color: white !important;
}
.custom-btn-default:hover
{
    opacity: 1 !important;
    background-color: rgba(4, 49, 109, 0.9) !important;
}
.custom-btn-icons
{
    margin-right: 5px;
}
.custom-btn-group
{
    ortant;
    padding: 0 !important;
    border-color: #04316d !important;
    border-radius: 15px;
}
.custom-btn-sm
{
    padding: 1px 5px !important;
    font-size: 12px !important;
}
.custom-p
{
    margin-bottom: 0 !important;
    color: #04316d !important; 
}

.custom-p-bold
{
    margin-bottom: 0 !important;
    color: #04316d !important; 
    font-weight: bold;
}

/* ======================================================= Texts =======================================================*/

.fs-12
{
    font-size: 12px !important;
}
.fs-13
{
    font-size: 12px !important;
}
.text-silver
{
    color: silver !important;
}

/**======================================================= Scaling ====================================================*/

@media screen and (max-width:767px)
{
    .breadcrumb-title
    {
        font-size: 20px !important;
        margin-bottom: 0;
    }
    .breadcrumb-nav-body
    {
        font-size: 11px;
        margin-bottom:0;
    }
    .breadcrumb-btn
    {
        width: 130px !important;
        font-size: 12px;
        padding-left: 5px;
        padding-top: 4px;
        height: 25px;
    }
    .breadcrumb-btn-icon
    {
        margin-right:1px;
    }
}

@media screen and (max-width:415px)
{
    #BreadcrumbBtnContainer
    {
        margin-left:0 !important;
        margin-top: 15px;
    }
}