
/*root colors */
:root 
{
    --theme-blue-clr: #04316d !important;
    --dark-blue: #04316D;
    --navy-blue: #002855; 
    --light-blue: #f8f9fa; 
    --text-color-light: white;
    --border-radius-small: 0.5rem;
    --border-radius-large: 10px;
}


/*#LeftNavMenu ::-webkit-scrollbar 
{
    display: none;
}*/

.hidden
{
    display: none !important;
}
.invisible
{
    visibility: hidden !important;
}
.text-upper
{
    text-transform: uppercase !important;
}
/**========================= Alignments =======================*/
.fl-right
{
    float:right !important;
}
.fl-left
{
    float:left !important;
}
.w-fit-content
{
    width: fit-content !important;
}
.w-max-content
{
    width: max-content !important;
}
.h-fit-content
{
    height: fit-content !important;
}
/**========================= Breadcrumbs / Navigation =======================*/

.breadcrumb-item-nav 
{
    color: blue !important;
    cursor: pointer;
}
.breadcrumb-item
{
    color: black;
}
.breadcrumb-item + .breadcrumb-item::before
{
    content: "" !important;
}
.breadcrumb-title
{
    font-size: 24px !important;
    margin-bottom: 0;
}
.breadcrumb-nav-body
{
    font-size: 13px;
    margin-bottom:0;
}

/**========================= Controls =======================*/

.custom-btn
{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
.custom-btn:hover
{
    opacity: 0.8;
}
.custom-btn-default
{
    background-color: #04316d !important;
    border: none;
    color: white !important;
}
.custom-btn-default:hover
{
    opacity: 1 !important;
    background-color: rgba(4, 49, 109, 0.9) !important;
}
.custom-btn-icons
{
    margin-right: 5px;
}
.custom-btn-group
{
    padding: 0 !important;
    border-color: #04316d !important;
    border-radius: 15px;
}
.custom-btn-sm
{
    padding: 1px 5px !important;
    font-size: 12px !important;
}
.custom-p
{
    margin-bottom: 0 !important;
    color: #04316d !important; 
}

.custom-p-bold
{
    margin-bottom: 0 !important;
    color: #04316d !important; 
    font-weight: bold;
}

.custom-input-text
{
    height: 30px;
    border-radius: 5px;
    color: var(--theme-blue-clr);
    padding-left: 5px;
    border: 1px solid var(--theme-blue-clr) !important;
}
.custom-input-textarea
{
    border: 2px solid var(--theme-blue-clr);
    padding: 5px 10px;
    font-size: 14px;
    color: var(--theme-blue-clr);
    border-radius: 10px;
}

.slider-large
{
    height: 20px;
    width: 40px !important;
}

.form-check-input:checked
{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.form-check-input-warning:checked
{
    background-color: darkorange;
}
.form-check-input-success:checked
{
    background-color: darkgreen;
}
.form-check-input-danger:checked
{
    background-color: darkred;
}

.section-nav-btns 
{
    background-color: #04316D !important;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    width: 80px;
}
.section-nav-btns:hover
{
    opacity: 0.8;
    color: yellow;
}

.actionButtonBusy
{
    cursor: not-allowed !important;
    pointer-events: visible !important;
    opacity: 0.7;
}

.actionButtonBusy:hover
{
    background-color: var(--theme-clr) !important;
}

.bg-silver
{
    background-color: silver !important;
}
.bg-lime
{
    background-color: lime !important;
}
.bg-red
{
    background-color: red !important;
}
.bg-yellow
{
    background-color: yellow !important;
}
/* ======================================================= Sizes =======================================================*/
.w-50p
{
    width: 50px !important;
}
.w-75p
{
    width: 75px !important;
}
.w-100p
{
    width: 100px !important;
}
.w-150p
{
    width: 150px !important;
}
.w-180p
{
    width: 180px !important;
}
.w-200p
{
    width: 200px !important;
}
.w-225p
{
    width: 225px !important;
}
.w-250p
{
    width: 250px !important;
}
.w-300p
{
    width: 300px !important;
}
.w-350p
{
    width: 350px !important;
}
.w-400p
{
    width: 400px !important;
}
.w-450p
{
    width: 450px !important;
}
.w-500p
{
    width: 500px !important;
}
.w-600p
{
    width: 600px !important;
}
/*============================  heights ==================*/
.h-25p
{
    height: 25px !important;
}
.h-30p
{
    height: 30px !important;
}

/* ======================================================= Texts =======================================================*/
.fs-10
{
    font-size: 10px !important;
}
.fs-11
{
    font-size: 11px !important;
}
.fs-12
{
    font-size: 12px !important;
}
.fs-13
{
    font-size: 13px !important;
}
.fs-14
{
    font-size: 14px !important;
}
.fs-15
{
    font-size: 15px !important;
}
.fs-16
{
    font-size: 16px !important;
}
.fs-17
{
    font-size: 17px !important;
}
.fs-18
{
    font-size: 18px !important;
}
.fs-19
{
    font-size: 19px !important;
}
.fs-20
{
    font-size: 20px !important;
}
.fs-25
{
    font-size: 25px !important;
}
.fs-30
{
    font-size: 30px !important;
}
.fs-35
{
    font-size: 35px !important;
}
.fs-40
{
    font-size: 40px !important;
}
.fs-45
{
    font-size: 45px !important;
}
.fs-50
{
    font-size: 50px !important;
}
/*=================================================================================================================*/
.text-silver
{
    color: silver !important;
}
.cursor-pointer
{
    cursor: pointer !important;
}
/**======================================================= Scaling ====================================================*/

@media screen and (max-width:767px)
{
    .breadcrumb-title
    {
        font-size: 20px !important;
        margin-bottom: 0;
    }
    .breadcrumb-nav-body
    {
        font-size: 11px;
        margin-bottom:0;
    }
    .breadcrumb-btn
    {
        width: 130px !important;
        font-size: 12px;
        padding-left: 5px;
        padding-top: 4px;
        height: 25px;
    }
    .breadcrumb-btn-icon
    {
        margin-right:1px;
    }
}

@media screen and (max-width:415px)
{
    #BreadcrumbBtnContainer
    {
        margin-left:0 !important;
        margin-top: 15px;
    }
}