/*============================Layout CSS ==============================*/

.left-nav-icons
{
    font-size: 16px;
    color: white;
    width: 18px;
}
.left-nav-titles
{
    font-size: 18px;
    margin-left:10px;
    color: white;
    font-weight:bold;
}
.left-nav-menu-active
{
    color: yellow !important;
}
.left-nav-menu-item
{
    cursor: pointer;
}
.left-sub-nav-icons
{
    font-size: 16px;
    color: white;
}
.left-sub-nav-title
{
    color: white;
    margin-left: 8px;
}
.left-nav-sub-menu
{
    padding-left: 5px !important;
}
.left-sub-nav-link
{
    cursor: pointer;
}
.left-sub-nav-link:hover
{
    background: navy !important;
}
.left-sub-nav-menu-active
{
    background: #e0bc00 !important;
    color: #04316d !important;
}
.left-sub-nav-menu-active:hover
{
    background: #e0bc00 !important;
    color: #04316d !important;
}
#LeftNavigationActualMenu
{
    min-height: 85vh !important;
    height: 85vh !important;
    overflow: auto;
    margin-bottom:15px
}
::-webkit-scrollbar 
{
    display: none;
}